---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact"
>
	<ul>
		<li>
			<strong>Email:</strong> <a href="mailto:LBDaniel27@gmail.com">LBDaniel27@gmail.com</a>
		</li>
		<li>
			<strong>LinkedIn:</strong> <a href="https://linkedin.com/in/LukeBDaniel" target="_blank" rel="noopener noreferrer">linkedin.com/in/LukeBDaniel</a>
		</li>
		<li>
			<strong>GitHub:</strong> <a href="https://github.com/LukeBDaniel" target="_blank" rel="noopener noreferrer">github.com/LukeBDaniel</a>
		</li>
	</ul>
</Layout>
